/*CSS File For Posts*/
article {
    margin: 2rem;
    padding: 2rem;
    border: #0D0A0B 2px solid;
    border-radius: 1rem;
    background-color: #e7edf3;
    p{
        font-size: 1.2rem;
        color: #0D0A0B;
    }
}