/*CSS File for the Tor Page*/

div.postsList {
    display: flex;
    justify-content: space-evenly;
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: #255dd3;
        border: black 2px solid;
        padding: 1rem;
        border-radius: 1rem;
    }

}