/*CSS for Assigment 1*/
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0%;
  min-height: 100dvh;
  background-color: lightgrey;
}
/*Header area with image*/
header {
    display: flex;
    padding-left : 2rem;
    padding-right : 2rem;
    padding-top : 1rem;
    padding-bottom : 1rem;
    background-color: lightgray;
    color: black;
    font-style: italic;
    text-wrap: nowrap;
    justify-content: space-between;
    img {
        width: 6rem;
        height: auto;
        border-radius: 1rem;
        margin-left: auto;
        border: #0D0A0B 2px solid;
    }
    a {
        text-decoration: none;
        color: black;
    }
}
/*Navigation Area*/
nav {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: #0D0A0B 2px solid;
    border-top: #0D0A0B 2px solid;
    background-color: #454955   ;
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: #D36582;
    }
    li {
        display: inline-block;
        margin-right: 1rem;
    }
}
/*main area general*/
main {
    padding : 2rem;
    border-bottom: #0D0A0B 2px solid;
    background-color: beige;
    a:link {
        text-decoration: none;
        color: #002830;
    }
    a:hover {
        color: #006E8A;
        text-decoration: underline;
    }
    img {
        width: auto;
        height: 3rem;
    }
    h2 {
        font-size: 2rem;
        margin: none;
        a {
            color: black;
            text-decoration: none;
        }
    }
}
/*Footer area with griffith logo and student name/number*/
footer {
    text-align: center;
    background-color: lightgray;
    color: black;
    padding: 1rem;
    a {
        color: black;
    }
}
/*Griffith Colloge Logo*/
div.gclink {
    img {
        width: 14rem;
        height: auto;
    }
}
/*Personal Profile area*/
div.personalProfile {
    display: flex;
}
/*Personal picture sizing and border*/
div.personalPicture {
    img {
        width: 12rem;
        height: auto;
        border: #0D0A0B 2px solid;
        margin-right: 2rem;
    }
}
/*general pictures*/
div.picture {
    img {
        width: 10rem;
        height: auto;
        border: #454955 2px solid;
        margin-right: 2rem;
    }
}
/*layout and link for the quote page*/
#quote {
    display: flex;
    a {
        margin-top: 1rem;
        font-size: 1.2rem;
    }
}
/*CV page css*/
#cv {
    display: flex;
    justify-content: space-between;
    border: #0D0A0B 2px solid;
    padding: 0.5rem;
    background-color: lightgray;
}
div.rightSide {
    border-left: #0D0A0B 2px solid;
    padding-left: 0.5rem;
    width: 30%;
}
div.leftSide {
    width: 70%;
    margin-right: 0.5rem;
}
div.skills {
    border-top: #0D0A0B 2px dotted;
}
div.a {
    text-align: right;
    font-weight: bold;
}
div.languages {
    border-bottom: #0D0A0B 2px dotted;
    border-top: #0D0A0B 2px dotted;
}
div.examScores {
    border-bottom: #0D0A0B 2px dotted;
    border-top: #0D0A0B 2px dotted;
}
div.internships {
    border-bottom: #0D0A0B 2px dotted;
    border-top: #0D0A0B 2px dotted;
}
div.education {
    border-bottom: #0D0A0B 2px dotted;
}
div.data {
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
    line-height: 2rem;
}
div.dataPersonalInfo {
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
    line-height: 1.5rem;
}
div.date {
    text-align: right;
    font-weight: bold;
    li {
        list-style-type: none;
    }
}
div.subName {
    display: flex;
}
div.score {
    li {
        list-style-type: none;
    }
}
/*Facts page opening boxes*/
/*This part of the code is inspried from W3Schools*/
#facts {
    display: flex;
    align-items: center;
    gap: 2rem;
}
/*Box Name of the lists*/
div.container {
    position: relative;
    border: #002830 2px solid;
    border-radius: 5%;
    background-color: #454955;
    height: 10rem;
    width: 30rem;
    justify-content: left;
    h2 {
        padding: 1rem;
        color: black;
    }
}
/*ınside moving boxes*/
div.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: lightgray;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    flex-wrap: wrap;
    border-radius: 5%;
}
/*moving element*/
div.container:hover .overlay {
    bottom: 0;
    height: 100%;
}
/*text transformation*/
div.text {
    white-space: nowrap; 
    color: black;
    font-size: 1rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}