<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="style.css">
    <head>
        <title>Burak Atak 3199405</title>
        <metal lang="en">
    </head>
    <body>
        <header>
            <div class="personal">
                <h2><a href="index.html">Burak Atak</a> </h2>
                <h2>3199405</h2>
            </div>
            <p><img src="Images/CV Burak Atak.jpg" alt="Personal Picture"></p>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Index</a></li>
                <li><a href="cv.html">CV</a></li>
                <li><a href="facts.html">Facts</a></li>
                <li><a href="quote.html">Quote</a></li>
            </ul>
        </nav>
<!--Main Area Only Thing That Changes Between Pages -->
		<main>
            <h2>Personal Profile</h2>
			<div class="personalProfile">
				<div class="personalPicture">
					<p><img src="Images/CV Burak Atak.jpg" alt="Personal Picture"></p>
				</div>
				<p>Hello my name is Burak Atak I am from Turkey. I am an undergraduate from Eskisehir Osmangazi Universty I studied English teaching
                for four years. I have been living in Ireland for two months now and I am enjoying it here.
				I enjoy coding and riding motorcycles I am planning to get my driving license for Ireland. My favuirite food is Doner Kebab.</p>
			</div>
		</main>
<!--End of Main Area -->
        <footer>
            <p>Burak Atak 3199405</p>
            <div class="gclink">
                <p><a href="https://www.griffith.ie"><img src="Images/Griffith Logo.png" alt="Logo"></a></p>
            </div>
        </footer>
    </body>
</html>