---
import Navigation from "../components/navigation.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---
<html>
    <link rel="stylesheet" href="../src/styles/style.css">
    <head>
        <title>Burak Atak 3199405</title>
        <metal lang="en">
    </head>
    <body>
        <Header />
        <Navigation />
<!--Main Area Only Thing That Changes Between Pages -->
		<main>
            
		</main>
<!--End of Main Area -->
        <Footer />
    </body>
</html>