---
import Navigation from "../components/navigation.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---
<html> 
    <link rel="stylesheet" href="../src/styles/style.css">
    <head>
        <title>Burak Atak 3199405</title>
        <meta lang="en">  
        <script src="shuffle.js" defer></script>
        <script src="array.js" defer></script>
    </head>
    <body>
        <Header />
        <Navigation />
<!--Main Area Only Thing That Changes Between Pages -->
		<main>
            <h1>Dynamic List</h1>
            <input type="text" id="musicInput" placeholder="Enter Music">
            <button id="addMusic">Add Music</button>
            <ul id="list"></ul>
            <button id="shufflebtn" class="btn">Shuffle Names</button>
		</main>
<!--End of Main Area -->
        <Footer />
    </body>
</html>