---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Tour Page">
<ul>
        <li><a href="../posts/post1">post1</a></li>
        <li><a href="../posts/post2">post2</a></li>
        <li><a href="../posts/post3">post3</a></li>
    </ul>
</BaseLayout>