---
import BaseLayout from "../layouts/baseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

<article>
    <h1>{frontmatter.title}</h1>
    <p><em>By {frontmatter.author}</em></p>
    <slot />
</article>





</BaseLayout>